<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <title>Céréals</title>
</head>

<body>
    <header>
        <h1>Cereals</h1>
        <fieldset>
            <legend>Rechercher</legend>
            <div class="containerSearch">
                <label for="inputSearch">Nom de la céréale</label>
                <input v-model="inputSearch" placeholder="Nom de la céréale" id="inputSearch">
                <ul>
                    <li v-for="cerealBrand of nutriTab">{{ cerealBrand.name }}</li>
                </ul>
            </div>
        </fieldset>
        <fieldset>
            <legend>Filter</legend>
            <div>

            </div>
        </fieldset>
    </header>

    <main id="appNutriments">

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Proteïnes</th>
                    <th>Sel</th>
                    <th>Fibres</th>
                    <th>Glucides</th>
                    <th>Sucre</th>
                    <th>Potassium</th>
                    <th>Vitamines</th>
                    <th>Evaluation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cerealBrand of nutriTab">
                    <td>{{ cerealBrand.id }}</td>
                    <td>{{ cerealBrand.name }}</td>
                    <td>{{ cerealBrand.calories }}</td>
                    <td>{{ cerealBrand.proteins }}</td>
                    <td>{{ cerealBrand.sodium }}</td>
                    <td>{{ cerealBrand.fiber }}</td>
                    <td>{{ cerealBrand.carbo }}</td>
                    <td>{{ cerealBrand.sugars }}</td>
                    <td>{{ cerealBrand.potass }}</td>
                    <td>{{ cerealBrand.vitamins }}</td>
                    <td>{{ cerealBrand.rating }}</td>
                </tr>
            </tbody>
        </table>

    </main>

</body>

</html>