<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <title>Céréals</title>
</head>

<body>
    <header>
        <h1>Cereals</h1>
        <fieldset>
            <legend>Rechercher</legend>
            <div class="containerSearch">
                <label for="inputSearch">Nom de la céréale</label>
                <input type="text" v-model="inputSearch" placeholder="Nom de la céréale" id="inputSearch" @change="filteredBrand">

            </div>
        </fieldset>
        <fieldset>
            <legend>Filter</legend>
            <div class="nutriScoreFilter">
                <fieldset>
                    <legend>Nutriscore</legend>
                        <input type="checkbox" name="A">
                        <input type="checkbox" name="B">
                        <input type="checkbox" name="C">
                        <input type="checkbox" name="D">
                        <input type="checkbox" name="E">
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Catégories</legend>
                    <select v-model="filterBy">
                        <option value="">Tous</option>
                        <option value="id">ID</option>
                        <option value="name">Nom</option>
                        <option value="calories">Calories</option>
                        <option value="protein">Proteïnes</option>
                        <option value="sodium">Sel</option>
                        <option value="fiber">Fibres</option>
                        <option value="carbo">Glucides</option>
                        <option value="sugars">Sucre</option>
                        <option value="potass">Potassium</option>
                        <option value="vitamins">Vitamines</option>
                        <option value="rating">Evaluation</option>
                    </select>
                </fieldset>
            </div>
        </fieldset>
    </header>

    <main id="appNutriments">

        <table>
            <thead>
                <tr>
                    <th @click="sortBrand">ID</th>
                    <th @click="sortBrand">Name</th>
                    <th @click="sortBrand">Calories</th>
                    <th @click="sortBrand">Proteïnes</th>
                    <th @click="sortBrand">Sel</th>
                    <th @click="sortBrand">Fibres</th>
                    <th @click="sortBrand">Glucides</th>
                    <th @click="sortBrand">Sucre</th>
                    <th @click="sortBrand">Potassium</th>
                    <th @click="sortBrand">Vitamines</th>
                    <th @click="sortBrand">Evaluation</th>
                    <th>NS</th>
                    <th>DEL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cerealBrand of nutriTab">
                    <td>{{ cerealBrand.id }}</td>
                    <td>{{ cerealBrand.name }}</td>
                    <td>{{ cerealBrand.calories }}</td>
                    <td>{{ cerealBrand.protein }}</td>
                    <td>{{ cerealBrand.sodium }}</td>
                    <td>{{ cerealBrand.fiber }}</td>
                    <td>{{ cerealBrand.carbo }}</td>
                    <td>{{ cerealBrand.sugars }}</td>
                    <td>{{ cerealBrand.potass }}</td>
                    <td>{{ cerealBrand.vitamins }}</td>
                    <td>{{ cerealBrand.rating }}</td>
                    <td>{{ cerealBrand.ns }}</td>
                    <td></td>
                    <!-- ICI surement mettre le bouton @click DELETE -->
                </tr>
            </tbody>
        </table>

    </main>

</body>

</html>