* {
    box-sizing: border-box;
}

:root {
    /* :root est un psuedo sélecteur, on l'utilise ici pour déclarer des variables pour les couleurs */
    --couleur-primaire : blue;
    --couleur-secondaire : green;
    --couleur-tertiaire : beige;
}

/* box-sizing: border box; <= taille box : bordure et padding compris  */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    /* justify-content: center; <= alignement horizontal */
}

main {
    width: 800px;
    padding-left: 20px;
}

/* width <= largeur */

.affichage {
    padding-left: 15px;
}

.affichage input {
    border: solid var(--couleur-primaire) 1px;
    /*on utilise la variable couleur bleu déclarée grâce à :root pour remplacer color: blue */
}

input,
button,
main {
    border: solid var(--couleur-primaire) 1px;
}

button {
    color: var(--couleur-primaire);
}

.bleuGras {
    color: var(--couleur-primaire);
    font-weight: bold;
    /* font-weight: bold <= mettre en GRAS */
}