@font-face {
    font-family: 'channel-regular';
    src: url('../fonts.channel-webfont.woff');
    src: url('../fonts/channel-webfont.svg#channel-regular')format('svg');
    src: url('../fonts/channel-webfont.ttf')format('truetype');

}

@font-face {
    font-family: 'satisfy'; 
    src:url('../fonts/oldsh___-webfont.woff'); 
}

body {
    background-image: url("../images/bg_motif.gif");
    background-repeat: repeat;
    font-family: 'satisfy';
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #fff;
    z-index: 1000;
    font-family: 'channel-regular';
}

header nav>ul {
    float: right;
    padding-top: 25px;
    padding-right: 5%;
    list-style-type: none;
    margin: 0px;
}

header nav>ul>li {
    display: inline;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 53px;
    padding-bottom: 20px;
    position: relative;
    line-height: 50px;
}

header nav ul li ul {
    position: absolute;
    display: none;
    top: 53px;
    left: 70px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li ul li {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: black;
    padding: 5px 20px 0px 20px;
}

header nav ul li:hover ul {
    display: block;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li ul li:first-child {
    border-top: 1px solid #fff;
}

.flexboxmain{
    position: relative;
    top: 82px;
    background-color: rgb(66, 64, 64);
    width: 980px;
    margin-left: auto;
    margin-right: auto;   
   
}

img[alt=logo]{
    
    position: fixed;
    left: 150px;
    z-index: 2000;
    top: 70px;
}

figcaption{
    width:900;
    text-align: center;
    color:red;
    background-color: white;
}

.flexcontainer{
    color: #fff;
    
    background-color: #746f6f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
    text-align: center;
    
}


section article p {
    color: black;
    margin-left: 8px;
    text-align: center;
   
}

article{
    position: relative;

}

article img {
   /* position: absolute;
    top: 0;
    right:30px;
    width: 35px;*/
    float: right;

}

.flexcontainer article{
    color: #fff;
    background-image: url(../images/bg_g.png); 
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    display: inline;
    font-family: 'channel-regular';
    font-size: medium;
    
}

.flexcontainer a{
    display: block;
    background-color: linear-gradient(#000000, #3a3a3a);
    width: 150px;
    height:50px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;

    
}

.flexcontainer a:hover{
transform: rotate(15deg) scale(1.5);
transform-origin: 50% 50%;
color: rgb(129, 7, 7);
text-shadow: 5px 5px 8px rgb(48, 3, 3);
transition-property: all;
transition-duration: 1500ms;
transition-timing-function: ease-in;
}

h3{
    padding-left: 20px;
    font-family: 'channel-regular';

}

section article ul li{
    color: black;
    font-family: 'satisfy';
}

.toybox{
    color: #fff; 
      
}

section article li{
    color: black;
    font-family: 'satisfy';
}

img[alt=vinRouge]{
    width: 180px;
    float: left;
}

.toybox .saidbox{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.toybox .saidbox article ul{
    width: 250px;
}

.toybox .saidbox .sambabox {
    
    display: flex;
    justify-content: space-between;

}

.toybox h4 {
    color: #fff;
}

.toybox a{
    display: block;
    background-color: #636060;
    width: 150px;
    height:50px;
    padding-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none; 
}

.toybox a:hover{
    transform: rotate(15deg) scale(1.5);
transform-origin: 50% 50%;
color: rgb(129, 7, 7);
text-shadow: 5px 5px 8px rgb(48, 3, 3);
transition-property: all;
transition-duration: 1500ms;
transition-timing-function: ease-in;
}

h4{
    text-align: center;
    font-family: 'channel-regular';
}

.toybox ul{
  
    padding-left: 50px;
    font-family: 'satisfy';
   
    
}

.toybox li{
    background-color: #746f6f;
    border: 1px #969191 solid;
}

.bogossebox{
    display: block;
}

footer{
    padding-top: 15px;
    background-image:url(../images/footer-bg.jpg);
}

footer ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

footer a{  
    
    font-family: channel-regular;
    color: #fff;
    text-decoration: none;
    
}