<!DOCTYPE html>
<html lang="fr-fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class-Grade</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
</head>

<body>
    <div id="app">
        <h1>Résultat de l'évaluation</h1>
        <fieldset>
            <legend>Ajouter une note</legend>
            <label for="">Nom prénom</label><input>
            <label for="">Note</label><input>
            <button>Ajouter</button>
        </fieldset>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Note</th>
                    <th>Obtenu</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="student of students">
                    <!-- lignes modèle -->
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.grade }}</td>
                    <td v-if="student.grade >= minGrade">Oui</td>
                    <td v-else>Non</td>
                </tr>

            </tbody>
        </table>

        <ul>
            <li>Nombre d'étudiants : {{ nbStudents }} </li>
            <li>Moyenne de la classe : {{ avgGrade }}</li>
            <li>Nombre d'étudiants au dessus de la moyenne : {{ nbStudentsAboveAvg }} </li>
            <li>Note éliminatoire : {{ minGrade }}</li>
        </ul>

    </div>

</body>

</html>